<IfModule mod_rewrite.c>
 # Turn on rewrite engine
 Options +FollowSymlinks
 RewriteEngine on
 RewriteBase /
 # More rules below
 RewriteCond %{DOCUMENT_ROOT}%{REQUEST_FILENAME} !-d
 RewriteCond %{DOCUMENT_ROOT}%{REQUEST_FILENAME} !-f
 RewriteRule ^gr\/(.*)-(.*)\.html community/index.php/Home/$1/$2
# RewriteRule ^gr community/index.php/Home/blog/myblog
</IfModule>